<div class="home-container">
  <h1>パチスロDX</h1>
  <div class="card-container">
    <mat-card class="menu-card" routerLink="/counter-history">
      <mat-card-header>
        <mat-card-title>カチカチ君</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>カチカチ君を使って実践的なデータ収集を行います。</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="menu-card" routerLink="/income-and-expenditure">
      <mat-card-header>
        <mat-card-title>収支カレンダー</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>日々の収支を記録・管理します。</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="menu-card" routerLink="/page3">
      <mat-card-header>
        <mat-card-title>期待値計算</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>台の期待値を計算します。</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
